<ion-header class="ion-no-border">
  <ion-toolbar style="background-image: linear-gradient(0deg,  #FE3A3A, #F96E43);">
    <ion-buttons slot="start" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    
    <ion-title color="light"> My Locations</ion-title>

    <ion-buttons slot="end">
      

      <ion-button  color="light" (click)='gp.goto("/addloc")'>
        <ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon>

      </ion-button>
    </ion-buttons>


  </ion-toolbar>

  
  <div class="featured-banner bg-image" [style.backgroundImage]="'url(assets/img/inv.jpg)'"  style="background-size: 100% 100%; background-repeat: no-repeat;">
  </div>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="search($event)" style="border-radius: 10%;"></ion-searchbar> 

  <div class='ion-text-center' style="margin-top: 30px;" color='medium' *ngIf='(apilocres && apilocres.length == 0)'> Nothing here currently, As you were</div>


  <ion-card   style="border-radius: 12px;" *ngFor="let loc of apilocres;  index as ind" >
    <ion-item class="loc">

      <ion-grid>

        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Tag </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.LOCATION_TAG}} </ion-text>
          
          </ion-col>
        
        </ion-row>

        <div *ngIf="loc.open">
        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Address </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{gp.capitalize(loc.Address2)}} </ion-text>
          
          </ion-col>
        
        </ion-row>
       
        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Email </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.E_MAIL}} </ion-text>
          
          </ion-col>
        
        </ion-row>
       
        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Area </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.AREA}} </ion-text>
          
          </ion-col>
        
        </ion-row>
       
        
        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> City </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.CITY}} </ion-text>
          
          </ion-col>
        
        </ion-row>
       

        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Staff Email </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.STAFF_EMAIL}} </ion-text>
          
          </ion-col>
        
        </ion-row>

        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Contact Name </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{gp.capitalize(loc.cpName1)}} </ion-text>
          
          </ion-col>
        
        </ion-row>

        <ion-row class="thumbnail-list">
          
          <ion-col>

            <strong><ion-text style="color: rgb(95, 95, 95);"> Contact No. </ion-text></strong>
          
          </ion-col>
          <ion-col size="8">

            <ion-text style="color: rgb(95, 95, 95);"> {{loc.cpNo1}} </ion-text>
          
          </ion-col>
        
        </ion-row>
        
        <ion-row >
          
          
          <ion-col >

            <ion-button class="btner" (click)='edit(loc)' color="danger" shape="round" size="default" type="submit" > Edit Location </ion-button>

          
          </ion-col>
        
        </ion-row>
      </div>
      </ion-grid>
    
      <ion-icon *ngIf="loc.open" (click)="change(ind)" name="remove-circle-outline" color="warning" slot="end" ></ion-icon>
      <ion-icon *ngIf="!loc.open" (click)="change(ind)" name="add-circle-outline" color="danger" slot="end" ></ion-icon>
    
    
    </ion-item>
  </ion-card>
  

</ion-content>


<!-- <ion-footer>

  <ion-toolbar color="light">

    <ion-button color="warning"  expand="block" size="small" (click)="order()">
      <span class="whiteText"> {{buttonName}}</span>
    </ion-button>
  </ion-toolbar>

</ion-footer> -->

