<ion-content fullscreen  scroll-y="false" style="background-image: linear-gradient(0deg, #EC601A, #F8D668);">
  

  <div class='main ion-text-center'>
    <img src="assets/img/ashlogo1.png"/>
    <br>
    <span class="whiteText">Retail Diesel Ordering</span>
    <br><br><br>
    <ion-button class="btner" (click)='login()' color="light" shape="round" size="default" type="submit"  style="color: #EC601A;" > <span class="spaner">Login</span></ion-button>
    <ion-button class="btner" (click)='signup()' fill="outline" color="light" shape="round" size="default" type="submit"   > <span class="">Signup</span></ion-button>


    
    

    
  </div>

</ion-content>