
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    // opacity: 0.5;
  }

  .card-title {
    position: absolute;
    top: 25%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    // color: #fff;
    // opacity: 0.9;
  }

  .card-subtitle {
    font-size: 12px;
    position: absolute;
    top: 65%;
    width: 100%;
    // color: #fff;
    // opacity: 0.9;
  }

}


.center{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  // font-size: 4em;
  // top: 25%;
}

// =================


ion-menu-button {
    color: var(--ion-color-primary);
  }
  
 


  ion-toolbar {
    --background: url('https://ionicframework.com/docs/demos/api/slides/slide-3.png') no-repeat fixed center; 
 }

 .order {
    
    // --background: #FB7A5F !important;
    color: #FB7A5F !important;
  }

 .inv {
    
    // --background: #EFAA22 !important;
    color: #EFAA22 !important;
  }

 .loc {
    
    // --background: #F1DF6D !important;
    color: #F1DF6D !important;
  }

 .porder {
    
    // --background: #EC8346 !important;
    color: #EC8346 !important;
  }

 .pay {
    
    // --background: #ECD646 !important;
    color: #ECD646 !important;
  }

 .prof {
    
    // --background: #ECB546 !important;
    color: #ECB546 !important;
  }

  ion-thumbnail{
    --border-radius:15px;
  }

  ion-content{
    --ion-background-color:#fcfaf2;
  }


  